@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --shade: #f1f1f1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --shade: #303030;
  }
}

@layer utilities {
  .glass-effect {
    @apply backdrop-blur-2xl;

    &::before {
      content: "";
      @apply absolute inset-0 z-[-1];
      @apply bg-background/40;
      /* @apply rounded-2xl; */
    }
  }

  .momentum-scroll {
    -webkit-overflow-scrolling: touch;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
